/*Google font link*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Tenor+Sans&display=swap');

/* Asterisk to over ride default settings*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Style rule*/
body {
    font-family: 'courgette';
    color: black;
    min-height: 100vh;
    flex-direction: column; 
}

/*Header*/
header {
    background-color: aqua;
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 0; 
}

#logo {
    position: relative;
    flex: 1, 5, 250px;
}

#menu {
    list-style-type: none;
    font-size: 70%;
}

/*Main content*/
main {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

/*Footer*/
footer {
    background-color: aqua;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content:end;
    
}
/*Contact Details*/

#contact-us h3 {
    text-align: center;
    font-size: 80%;
}

#contact-details {
    list-style-type: none;
    text-align: center;
    font-size: 70%;
}


/*Social Media links*/

#social {
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    
      
}