/*Google font link*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Tenor+Sans&display=swap');

/* Asterisk to over ride default settings*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Style rule*/
body {
    font-family: 'courgette';
    color: black;
    min-height: 100vh;
    flex-direction: column; 
}

/*Header*/
header {
    background-color: #FEDC61;
    border-bottom: 1px solid black;
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1;
    align-items: baseline;
    justify-content: space-between;
}
/*No underlines on logo or menu */

header a {
    text-decoration: none;
    color: inherit;
}



#menu {
    list-style-type: none;
    font-size: 100%;
}

/* Making toggle menu*/

nav {
    position:absolute;
    background-color: #FEDC61;
    font-size: 100%;
    width: 100%;
    left:0%;
    top: 100%;
    padding: 0;
    display:none;
}
/*menu dropdown settings*/

#nav-bar:checked~nav {
    display: block;
}

#nav-bar {
    display: none;
}

/*Main content*/
main {

    flex-direction: column;
    width: 100vw;
    height:100vh;
    padding-top: 40px;
    padding-bottom: 0px;
    overflow: auto;
}

/*About us section*/

#about-us {
    background-color: #F2F2F8;
    text-align: center;
    margin-top: 0px;
    padding: 0px;
}
 /* Losing white space between header and main content*/
#about-us h3 {
    margin-top: 0px;
    padding: 0px;

    
}

/*tip section*/

#tip {
    
    background: url('../images/pexels-photo-6489663.jpeg') no-repeat center/cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#tip-content {
    flex-basis: 200px;
    flex-grow: 1;
}
/*Image wih link style*/

#planner{
    width: 90px;
    height:90px;
    position: relative;
    left: -90px;
    
}

/* Newsletter form*/
/* Image and boarder*/

#newsletter { 
    background-color: #F2F2F8;
    text-align: center;
    border-top: 1px solid black;
    
    top: 100px;
    bottom: 0px;
    width:100%;
}

/* Input fields*/

#firstname, #lastname, #email {
    background-color: transparent;
    color: black;
    border-radius: 10px;
}

/*Submit button*/

.submit {
    border-radius: 2px;
    border: 1px solid black;
    background-color: #FEDC61;
    margin-bottom: 5px;
    font-weight: bold;
}

/*Footer*/
footer {
    background-color: #FEDC61;
    position: relative;
    top:0;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content:end;
    border-top: 1px solid black;   
}

/*Contact Details*/

#contact-us h3 {
    text-align: center;
    font-size: 80%;
}

#contact-details {
    list-style-type: none;
    text-align: center;
    font-size: 70%;
}

/*Social Media links*/

#social {
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    color: inherit;
}